html {
	color-scheme:light dark;
}

body {
	background:#8cc269;
	font-family:system-ui;
	font-size:1.25rem;
	line-height:1.5;
}

main {
	width:min(70ch, 100%-4rem);
	margin-inline:auto;
}

img,
svg,
video {
	max-width:100%;
	display:block;
}

a:hover {color:#126e82;} 

table.header-bar {
	width:20%;
}
td{
	height:50px;
	text-align:center;
}
.header{
	font-size:0.75em;
}

.poem {text-align:center;}

.header-bar {