body {
    /*background-image: url("../通用素材/img/sunnylunarstar.jpg");*/
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #8CC269;
    color: rgba(2, 2, 2, .6);
}
.page {
    box-sizing: border-box;
    width: 70%;
    background-color: rgba(255, 255, 255,.5);
    margin-left:15%;
    margin-top: 2%;
    padding-left: 1%;
}
a {
    color: #2486B9;
}
a:hover {
    color: #ED5A65;
}
.hbtn {
    margin: 0 0 0 0;
    padding-left: 0;
    list-style-type: none;
    background-color: rgba(255, 255, 255,.5);
}
.hbtn li {
    display: inline;
    padding-right: .5%;
}
.hbtn a {
    text-decoration: none;
}
#about {
    float: right;
}