/*
 * File:nav.css
 * ------------
 * 用来存放导航栏的样式.
 */

/* 通用 */



/* 顶部导航栏 */

header nav ul li {
    display:inline;
    padding: 1rem 1rem 1rem 1rem;
}
header nav ul li:last-child {
    float: right;
    padding: 0 2rem 1rem 1rem;
}